<footer class="w3-container w3-light-grey" style="padding-top:64px!important;padding-bottom:64px!important;text-align:center!important;font-size:24px!important;opacity:0.60">
  <a href="https://www.linkedin.com/in/aarav-juneja-8184491b0/"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
</footer>
<script src="index.js" charset="utf-8"></script>
</body>

</html>
