.special{
  background-color: aliceblue
}
.third{
  float:left;
  width:33.33333%
}
h1{
  font-family: cursive;
}
.appear{
  display: block;
}
.disapear{
  display: none
}
body {
  font-family: "Lato", sans-serif
}
 .bar_item{
   text-align:center;
   padding:8px 16px;
   outline:0;
   float:left;
   display: block;
 }
