<%- include("partials/header") %>
<!-- Page content -->
<div style="max-width:2000px;margin-top:46px">

  <!-- The Intro Section -->
  <div class="w3-container w3-content w3-center w3-padding-64">
    <div style="width:49%" class="w3-col m6 w3-large w3-margin-bottom">
      <img src="stock-image.webp" alt="Stocks" width="92%">
    </div>
    <div class="w3-col m6 w3-large w3-margin-bottom" style="width:49%">
      <h2 class="w3-wide">Stocks</h2>
      <p style="opacity:0.60"><i>A quick overview of what stocks are</i></p>
      <p style="text-align:justify!important;font-size:20px">Hello I am Aarav, and welcome to my website. I am so excited that you have decided to stop by, as I have so much to tell you about my research on stocks. I have spent countless hours and
        sleepless night putting all the pieces together, and I am very excited to share it with you. </p>
    </div>
  </div>

  <!-- End Page Content -->
</div>

<h1 style="text-align:center">What are Stocks?</h1>
<p style="padding:3%; font-size:20px">Stocks are parts of companies. If you have more stocks of a company than anyone else, you have enough votes to influence key decisions like choosing the CEO and choices about the company's stocks. The dutch
  invented stocks and in 1600 and in 1602 they founded the Dutch Indian company. Stocks are mostly used for <b>Capital Gains</b>. They go up and down on a daily basis. The price change is caused by buying and selling stocks, when more people are
  buying they go up, but when more people are selling they goes down.</p>

<h1 style="text-align:center">Key Terms</h1>
<ul style="font-size:20px">
  <li>Dividends
    <ul style="list-style-type:circle;">
      <li>Since stocks are parts of companies you get paid cash as the company makes money.</li>
      <li>The amount of money given depends on the companies leaders and how many stocks you have.</li>
    </ul>
  </li>
  <li>Right Stocks
    <ul style="list-style-type:circle;">
      <li>Right Stocks are stocks that only people who already have some stocks of the company can buy.</li>
      <li>They are used to show value to stock buyers from companies.</li>
      <li>Though only you can buy them you still have to pay for them.</li>
    </ul>
  </li>
  <li>Bonus Stocks
    <ul style="list-style-type:circle;">
      <li>Bonus Stocks are like dividends, but you get paid in stocks instead of cash for bonus stocks.</li>
    </ul>
  </li>
  <li>Capital Gains
    <ul style="list-style-type:circle;">
      <li>Capital gains is when you buy a Stock and sell it at a higher price, making a profit-&#128200;.</li>
    </ul>
  </li>
  <li>Voting Rights
  <ul style="list-style-type:circle;">
    <li>If you have Voting Rights that means that you get to vote for the companies key events and leadership.</li>
  </ul>
  </li>
  <li>Stock Split
  <ul style="list-style-type:circle;">
    <li>Split one stock into one or more units</li>
    <li>Used if stock prices are high to make people buy them at lower price but more prices out.</li>
    <li>Examples:
      <ul style="list-style-type:square;">
        <li>Split 1 stock into 2(regular)
          <ul style="list-style-type:none">
            <li>- When you double the amount of stocks and half its price. If you own a stock you'll get more stocks.</li>
            <li>- Mainly used to lower stock prices to make them more affordable.</li>
            <li>- Good sign</li>
          </ul>
        </li>
        <li>reverse stock split</li>
        <ul style="list-style-type:none;">
          <li>- When the company rolls up a number of stocks into 1.</li>
          <li>- Mainly used when company is bad conditions and they want to keep stock prices high so they don't get delisted.</li>
          <li>- Bad sign</li>
        </ul>
      </ul>
    </li>
  </ul>
  </li>
</ul>
<%- include("partials/footer") %>
